body{
    color:white;
    font-family:'Times New Roman', Times, serif

}
.header{
    display: flex;
    flex-direction: row;
}
.mid h1{
    text-align: center;
   padding-left: 380px;
   padding-top: 50px;
}
.head{
    padding-left: 7%;
    font-size: 2rem;
}
.body{
    padding-left: 7%;
     font-size: 2rem;
}
.foot{
    padding-left: 7%;
    font-size: 2rem;
}
span{
    color:purple;
}
.purple{
    color:purple;
    font-weight: 900;
}
.profile{
    width: 100px;
    height: 100px;
    padding-top:150px;
    padding-left: 50px;
}
.profile img{
  
    height: 300px;
    width: 300;
    border-radius: 50%;
    border: 5px solid white;
}