.find h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;

}
p{
    text-align: center;
    font-size: 2rem; 
}
.find {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}




.purple {
    color: purple; /* Highlighted text color */
    font-weight: bold;
}

.icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white; /* Link color */
    font-size: 1.2rem;
    transition: color 0.3s;
    
}

.icons a:hover {
    color:purple; /* Change color on hover */
}

.bi {
    margin-right: 55px; /* Space between icon and text */
  
        height: 40px; /* Set desired height */
        width: auto; /* Maintain aspect ratio */
    
    
    fill: currentColor; /* Use the current text color */
}
.icons{
    display: flex;
    justify-content:center;
    

}
.icons details{
    padding-top: 12px;
}
.icons details:hover    {
    color:purple;
}